html
	head
		style
			table {
			border: 20px solid black;}
	body
		mixin post_button(uuid, action)
			form(method='POST' action='/op')
				input(type='hidden' name='uuid' value=uuid)
				button(type='submit' name="action" value="start") start
				button(type='submit' name="action" value="stop") stop
		mixin post_polluted(uuid, pollutant)
			form(method='POST' action='/pop')
				input(type='hidden' name='uuid' value=uuid)
				input(type='hidden' name='pollutant' value=pollutant)
				input(type='text' name='value' size='5')
				br
				button(type='submit' name="action" value="set") set
				br
				button(type='submit' name="action" value="auto") auto
				br
				button(type='submit' name="action" value="stop") stop
		ol
			each i in virtual_machines
				- if (i.active == 'Active') {
					li(style='color: #0000ff;') #{i.serialnumber}
				- } else {
					li(style='color: #ff0000;') #{i.serialnumber}
				- }
				+post_button(i["serialnumber"], "start")
				
				ul
					li serial number: #{i.serialnumber}
					li uuid: #{i.uuid}
					- if (i.active == 'Active') {
						li state: #{i.state}
					- } else {
						li(style='color: #ff0000;') state: #{i.state}
					- }
					li server: #{i.server_address}:#{i.server_port}
					li current values
						
					// li infos: #{i.infos}
					// li logs: #{i.logs}
					
				table(border='0', style='text-align: center; border-spacing: 30px 0')
					thead
						tr
							th co2
							th no2
							th pm
							th vocs
							th temperature
							th humidity
					tbody
						tr
							td= i.co2
							td= i.no2
							td= i.pm
							td= i.vocs
							td= i.temperature
							td= i.humidity
						tr
							td= i.co2s
							td= i.no2s
							td= i.pms
							td= i.vocss
							td= i.temperatures
							td= i.humiditys
						tr
							td
								+post_polluted(i["serialnumber"], "co2")
							td
								+post_polluted(i["serialnumber"], "no2")
							td
								+post_polluted(i["serialnumber"], "pm")
							td
								+post_polluted(i["serialnumber"], "vocs")
							td
								+post_polluted(i["serialnumber"], "temperature")
							td
								+post_polluted(i["serialnumber"], "humidity")
								
				
